@use "../../assets/styles/settings" as *;

$grid-area-initial: "." "header" ".";
$grid-area-post-search: "header" "content" "content";
$header-grid-area-expanded: ". title . search .";
$header-grid-area-initial: ". . ." ". title ." ". search ." ".  . .";

.container {
  display: grid;
  grid-template-areas: $grid-area-initial;
  grid-template-rows: 3fr minmax(55%, auto) 3fr;
  height: 100vh;
  width: 100vw;

  .headerContainer {
    background-color: $primary-dark;
    display: grid;
    grid-area: header;
    grid-template-areas: $header-grid-area-initial;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: repeat(1fr, 4);
    justify-content: space-around;

    .titleContainer {
      grid-area: title;
      align-self: center;
      .title {
        color: $lightest-white;
        line-height: 1;
      }
      .titleDescription {
        color: $lightest-white;
        font-size: $font-size-xs;
      }
    }

    .search {
      grid-area: search;
      margin-bottom: $space-md;
      max-width: 20rem;
      align-self: center;
    }
  }

  &.postSearch {
    grid-template-areas: $grid-area-post-search;
    grid-template-rows: 1fr 55% auto;
    .headerContainer {
      justify-items: center;
      .titleContainer {
        .title {
          font-size: $font-size-l;
        }
        .titleDescription {
          margin-left: 2rem;
        }
      }
    }
    .searchListContainer {
      align-items: space-between;
      background-color: $lightest-white;
      background-color: $white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      grid-area: content;
      justify-content: space-between;
      overflow-y: auto;
      padding-top: 0;
      .searchList {
        align-items: flex-start;
        align-content: center;
        background-color: $lightest-white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 0;
        margin: 1rem auto;
        max-width: 80%;
        padding: $space-sm 0.5rem;
        height: auto;
      }
    }
  }
}
@media only screen and (min-width: 536px) {
  .container {
    .titleDescription {
      margin-left: 11rem;
    }
    .search {
      justify-self: end;
    }

    &.postSearch {
      .headerContainer {
        grid-template-areas: $header-grid-area-expanded;
        grid-template-columns:
          minmax(1rem, 1fr) 14rem minmax(1rem, 4fr) minmax(5rem, 20rem)
          minmax(1rem, 1fr);
        align-items: center;
        .search {
          justify-self: inherit;
        }
      }
    }
  }
}

@media only screen and (min-width: 912px) {
  .container {
    .headerContainer {
      grid-template-columns: 1fr 820px 1fr;
    }
    &.postSearch {
      .headerContainer {
        align-items: center;
        grid-template-areas: $header-grid-area-expanded;
        grid-template-columns: 10% 15rem minmax(4rem, 4fr) minmax(15rem, 20rem) 10%;
      }
    }
  }
}
