@use "../../assets/styles/settings" as *;

button.loadMoreButton {
  display: flex;
  margin: $space-md auto;
  height: 2.4rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
