@use "../../assets/styles/settings" as *;

div.card {
  @include goldenHeightWidth($card-width);
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: $space-md;

  :global(.ant-card-head),
  :global(.ant-card-body) {
    padding: $space-sm;
  }
  .avatar {
    background-color: $secondary-color;
    font-size: $font-size-xs;
  }
  .title {
    font-weight: bold;
    font-size: $font-size-s;
    line-height: 1.2;
    word-break: break-word;
  }
  .actionButton {
    font-size: $font-size-xs;
    border-radius: 4px;
    background-color: $primary-dark;
    // border-color: $primary-dark;
    background-color: lighten($color: $primary-dark, $amount: 9);
    &:hover,
    &:focus {
      background-color: lighten($color: $primary-dark, $amount: 15);
    }
  }
  .description {
    line-height: 1.2;
    word-break: break-word;
    font-size: $font-size-xs;
    .empty {
      color: $utility-warn-color;
      // font-weight: bold;
    }
  }
}
