@use "../../assets/styles/settings" as *;
.projectDetails {
  :global(.ant-descriptions-header) {
    flex-wrap: wrap;
  }
  :global(.ant-descriptions-bordered) :global(.ant-descriptions-view) > table {
    table-layout: fixed;
    th {
      width: 11rem;
    }
  }
  .title {
    font-size: $font-size-m;
  }
  .details {
    .title {
      font-size: $font-size-s;
      white-space: pre-wrap;
    }
    .label {
      font-size: $font-size-xs;
      font-weight: bold;
    }
    .value {
      font-size: $font-size-xs;
      white-space: pre-wrap;
    }
  }
  .membersTitle {
    font-size: $font-size-s;
  }
  .memberCard {
    height: 12rem;
    width: 11rem;
    .userName {
      white-space: pre-wrap;
      font-size: $font-size-xs;
    }
    .name {
      font-size: $font-size-xs;
    }
    .email {
      font-size: $font-size-xs;
      .empty {
        color: $utility-warn-color;
      }
    }
  }
  .memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px dashed grey;
    padding-bottom: $space-md;
  }
  .closeButton {
    display: block;
    margin: $space-md auto;
    font-size: $font-size-s;
  }
}
