@use "./assets/styles/settings" as *;
@import "~antd/dist/antd.css";
@import "~normalize.css/normalize.css";
html {
  font-size: 125%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #222;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $space-sm 0 $space-xs;
  }
  h1 {
    font-size: $font-size-xxl;
    line-height: 1;
    font-weight: lighter;
  }
  p {
    margin: $space-xs 0 $space-sm;
    font-weight: normal;
    font-size: $font-size-s;
  }
}
