$turkish-blue: #007fae;
$lightest-white: #f0ede8;
$white: white;

$primary-dark: #142233;
$primary-light: $turkish-blue;
$secondary-color: #f56a00;

$utility-error-color: red;
$utility-info-color: skyblue;
$utility-warn-color: orange;
