// font-size
$font-size-xxs: 0.563rem;
$font-size-xs: 0.75rem;
$font-size-s: 1rem;
$font-size-m: 1.33rem;
$font-size-l: 2.369rem;
$font-size-xl: 3.157rem;
$font-size-xxl: 4.209rem;

// spacing
$space-unit: 1rem;
$space-xxs: 0.25 * $space-unit;
$space-xs: 0.5 * $space-unit;
$space-sm: 0.75 * $space-unit;
$space-md: 1.25 * $space-unit;
$space-lg: 2 * $space-unit;
$space-xl: 3.25 * $space-unit;
$space-xxl: 5.25 * $space-unit;

// font-weight
